<div id="notebook-container">
  <oj-bind-if test="[[notesProvider.isEmpty() === 'yes']]">
    <h6 class="oj-sm-margin-4x-top">
      You don't have any notes in your notebook. <span>
        <a on-click="[[createFirstNote]]">Click here</a>
      </span> to create the first note.
    </h6>
  </oj-bind-if>
  <oj-tree-view id="treeview" data="[[notesProvider]]">
    <oj-menu slot="contextMenu" on-oj-action="[[menuAction]]" on-oj-before-open="[[menuBeforeOpen]]">
      <oj-option id="node-add-child" value="addChild">Add child</oj-option>
      <oj-option id="node-add-sibling" value="addSibling">Add sibling</oj-option>
      <oj-option id="node-delete" value="delete">Delete</oj-option>
      <oj-option id="node-edit" value="edit">Edit</oj-option>
    </oj-menu>
    <template slot="itemTemplate" data-oj-as="row">
      <span class="oj-treeview-item-icon" on-click="[[openNoteAction]]"></span>
      <span class="oj-treeview-item-text">
        <oj-bind-if test="[[row.data.link !== undefined && row.data.link !== null 
                            && row.data.title !== undefined && row.data.title !== null]]">
          <a referrerpolicy="no-referrer" target="_blank" :href="[[row.data.link]]">
            <oj-bind-text value="[[row.data.title]]"></oj-bind-text>
          </a>
        </oj-bind-if>
        <oj-bind-if test="[[(row.data.link === undefined || row.data.link === null) 
                            && row.data.title !== undefined && row.data.title !== null]]">
          <oj-bind-text value="[[row.data.title]]"></oj-bind-text>
        </oj-bind-if>
        <oj-bind-if test="[[row.data.link !== undefined && row.data.link !== null 
                            && (row.data.title === undefined || row.data.title === null)]]">
          <a referrerpolicy="no-referrer" target="_blank" :href="[[row.data.link]]">
            <oj-bind-text value="[[row.data.link]]"></oj-bind-text>
          </a>
        </oj-bind-if>
      </span>
    </template>
  </oj-tree-view>
  <oj-dialog id="note-dialog" dialog-title="Note" cancel-behavior="icon" drag-affordance="title-bar">
    <div slot="body">
      <oj-form-layout max-columns="1" direction="row">
        <oj-input-text class="oj-form-control-max-width-md" placeholder="Title" label-hint="title"
          value="{{currentTitle}}" disabled="[[inputDisabled]]">
        </oj-input-text>
        <oj-input-text class="oj-form-control-max-width-md" placeholder="Link" label-hint="link" value="{{currentLink}}"
          disabled="[[inputDisabled]]">
        </oj-input-text>
        <oj-text-area class="oj-form-control-max-width-md" value="{{currentDescription}}" label-hint="description"
          rows="5">
        </oj-text-area>
      </oj-form-layout>
    </div>
    <div slot="footer">
      <oj-button id="note-submit" chroming="callToAction" on-oj-action="[[submitAction]]" disabled="[[inputDisabled]]">
        Submit
      </oj-button>
      <oj-button id="note-close" on-oj-action="[[closeNoteDialog]]" disabled="[[inputDisabled]]">
        Close
      </oj-button>
    </div>
  </oj-dialog>
  <oj-dialog id="delete-dialog" dialog-title="Warning" cancel-behavior="icon" drag-affordance="title-bar">
    <div slot="body">
      The note has children. Are you sure you want to delete the note with children notes?
    </div>
    <div slot="footer">
      <oj-button id="yes-delete" on-oj-action="[[deleteNoteFromDialog]]">
        YES
      </oj-button>
      <oj-button id="no-delete" on-oj-action="[[closeDeleteDialog]]">
        NO
      </oj-button>
    </div>
  </oj-dialog>
</div>